<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
</head>
<body>

       <style>
          header{
              width: 100%;
              height: 400px;
              background-image:l url(../rasm/kak-stat-dizajnerom-veb-interfejsa-2023-2070.jpg) linear-gradient(rgb(61, 51, 51), rgb(45, 38, 38), rgb(51, 47, 47));
          }
       </style>



         <header>
             <h1>Salom bu meni 1-web saytim </h1>
             <p>Men hozirda IT park talabsiman! </p>
         </header>


         <section>

         </section>

         <main>

         </main>


         <footer>

         </footer>
</body>
</html>